<html>
  <head>
    
  </head>
  <body>
    <% time = DateTime.now %>
  <h1>The date is <%= time.strftime("%A")%>, <%= t.strftime("%B") %> <%=t.strftime("%d")%>, <%= t.strftime("%Y") %>, </h1>  
  </body>
  
  
  
</html>